*.log

dilated_result
fcn_result
fcn_result_v2
result_v2
rnn_result
__pychache__
data/__pychache__
logs_v2
logs_v3
logs
result_v3
cache
/.idea/
/test/test_env.py
/test/test_path.py
/test/train_test.py
/ts2vec_cls/train_nonlin.py
/tloss_cls/*.csv
/selftime_cls/*.csv
/tst_cls/*.csv
/tst_cls/results
/scripts/generator_uea.py
/test/fcn_uea.py
/test/dilated_uea.py
/visualize_test.py
/test/Wine/
/test/Wine/test_dir
/scripts/ex1_trasfer_finetune.sh
